/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --topbar-height: 48px;
  --sidebar-width: 240px;
  --content-min-heigh: calc(100vh - 48px)
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body #main {
  margin-top: var(--topbar-height);
}
body #main aside{
  width: var(--sidebar-width);
  background: #fff;
  min-height: var(--content-min-heigh);
  display: block;
  transition: margin-left 0.5s;
  padding: 0 0.5rem;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  margin-left: 0;
}

body #main main {
  margin-left: calc(var(--sidebar-width) + 1rem);
  min-height: var(--content-min-heigh);
  transition: margin-left 0.3s;
  padding-left: 24px;
  padding-right: 24px;
}

body #main.sidebar-collapsed aside{
  padding: 0;
  margin-left: calc((-1 * var(--sidebar-width)) - 1rem);
}

body #main.sidebar-collapsed main{
  margin-left: 0;
}


.breadcrumb-container li a,
.breadcrumb-container li p{
  color: #fff;
  text-decoration: none;
}


